<div class="container-fluid bg">
	<div class="container center-me d-flex flex-column justify-content-center align-items-center">
		<div class="row" class="extramargin">
			<form [formGroup]="weatherForm" class="form-inline" (ngSubmit)="onSubmit(weatherForm.value)">
				<div class="form-group">
						<input class="form-control form-control-lg" type="text" placeholder="City" formControlName="city">
					<button [disabled]="loading" class="btn btn-dark btn-lg ml-2" type="submit"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Go</button>
				</div> 
			</form>
		</div>
		<div class="row">
			<app-weather-show [errmsg]="errmsg" [weatherForm]="weatherForm" [city]="city" [submitted]="submitted"></app-weather-show>
		</div>
	</div>
</div>
