.center-me {
	min-height: 100%;
	min-height: 100vh;
}

.extramargin {
	margin-top: 75px;
	margin-bottom: 25px;
}

.arrows {
	font-size: 30px;
	color: #343a40;
}

.carousel {
	width: 900px;
	height: 440px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}