<div class="wrapper bg-light text-dark d-flex flex-column align-items-center justify-content-center">
	<div>
		<h2 class="results-color float-left mr-1">{{city?.name}}</h2>
		<div *ngIf="currentUser" class="float-right">
			<a *ngIf="isFavorite(city)" (click)="removeFavorite(city)" class="text-danger"><i class="fas fa-minus-circle"></i></a>
			<a *ngIf="!isFavorite(city)" (click)="addFavorite(city)" class="text-success"><i class="fas fa-plus-circle"></i></a>
		</div>
	</div>
	<div class="weatherIcon d-flex align-items-center justify-content-center">
		<img [src]="city.weatherIcon">
	</div>
	<table width="300px" class="tg">
		<tr>
			<td class="text-left">Temperature:</td>
			<td class="text-right results-color">{{city?.temperature}} C°</td>
		</tr>
		<tr>
			<td class="text-left">Weather:</td>
			<td class="text-right results-color">{{city?.weather}}</td>
		</tr>
		<tr>
			<td class="text-left">Humidity:</td>
			<td class="text-right results-color">{{city?.humidity}}%</td>
		</tr>
		<tr>
			<td class="text-left">Windspeed:</td>
			<td class="text-right results-color">{{city?.windspeed}} km/h</td>
		</tr>
	</table>
</div>

