.wrapper {
	padding: 45px;
	border-radius: 10px;
	width: 430px;
	height: 400px;
}

.tg td {
	font-size: 18px;
}

.wrapper h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.results-color {
	color: #3498db;
}

.weatherIcon {
	height: 100px;
	background-image: linear-gradient(120deg, #3498db, #8e44ad);
	width: 300px;
}

.wrapper a {
	font-size: 30px;
	float: right;
	margin-left: 10px;
	cursor: pointer;
	text-align: right;
}
