.bg {
	background-image: url("../weather-search/images/background.jpg");
	height: auto;
	min-height: 100vh;
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}

.center-me {
	min-height: 100%;
	min-height: 100vh;
}

.wrapper {
	margin-bottom: 20px;
	color: white;
	background-color: #343a40;
	border: 1px solid white;
	padding: 45px;
	border-radius: 25px;
	width: 330px;
}

.extramargin {
	margin-top: 75px;
}

.tg td {
	font-size: 18px;
}

.wrapper h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.results-color {
	color: #509EEB;
}