<div class="container-fluid bg">
	<div class="container center-me d-flex flex-column justify-content-center align-items-center text-center">
		<div *ngIf="this.favoriteList?.length==0">
			<h5>You don't have any favorites</h5>
		</div>
		<div [class.extramargin]="this.favoriteList?.length != 0" class="row">
			<div *ngFor="let city of favoriteList; let i = index" class="col-auto">
				<div class="wrapper text-center d-flex flex-column align-items-center">
					<h2 class="results-color">{{city?.name}}</h2>
					<table width="200px" class="tg">
  						<tr>
						    <td class="text-left">Temperature:</td>
						    <td class="text-right results-color">{{city?.temperature}} C°</td>
  						</tr>
  						<tr>
						    <td class="text-left">Humidity:</td>
						    <td class="text-right results-color">{{city?.humidity}}%</td>
  						</tr>
						<tr>
						    <td class="text-left">Windspeed:</td>
						    <td class="text-right results-color">{{city?.windspeed}} km/h</td>
  						</tr>
					</table>
					<button *ngIf="isFavorite(city)" (click)="removeFavorite(city)" class="btn btn-danger btn-lg mt-3">Remove from Favorites</button>
					<button *ngIf="!isFavorite(city)" (click)="addFavorite(city)" class="btn btn-success btn-lg mt-3">Add to Favorites</button>
				</div>
			</div>
		</div>
	</div>
</div>
