<div class="wrap" *ngIf="showLoadingScreen">
      <app-loading-screen></app-loading-screen>
</div>
<div *ngIf="!showLoadingScreen">
<nav (clickOutside)="navbarClose()" class="navbar navbar-dark bg-dark fixed-top">
  		<button id="navbutton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="menuicon text-light"><i class="fas fa-bars"></i></span>
  		</button>
      <div><app-current-location></app-current-location></div>
      <span *ngIf="currentUser" class="text-light userhello">Hello, <a routerLink="/profile" class="loggedInUser">{{currentUser.firstName}}</a> | {{currentUser.role}}</span> 
  		<div class="collapse navbar-collapse mt-1" id="main-navigation">
    		<ul class="navbar-nav mr-auto mt-lg-0" (click)="navbarClose()">
      			<li class="nav-item">
        			<a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fas fa-home mr-1"></i>Home</a>
      			</li>
      			<li class="nav-item" *ngIf="currentUser">
        			<a class="nav-link" routerLink="/favorites" routerLinkActive="active"><i class="fas fa-heart mr-1"></i>Favorites</a>
      			</li>
            <li class="nav-item" *ngIf="currentUser && isAdmin()">
              <a class="nav-link" routerLink="/users" routerLinkActive="active"><i class="fas fa-user mr-1"></i>Users</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!currentUser" class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-sign-in-alt mr-1"></i>Login</a>
              <a *ngIf="currentUser" class="nav-link" routerLink="/login" routerLinkActive="active" (click)="logout()"><i class="fas fa-sign-out-alt mr-1"></i>Logout</a>
            </li>
    		</ul>
		</div>
</nav>
<div [@routerTransition]="getState(o)" class="bg"><router-outlet #o="outlet"></router-outlet></div>
</div>
