<div class="container-fluid bg">
	<div class="container center-me d-flex flex-column justify-content-center align-items-center">
		<div class="row">
			<form class="form-inline" [formGroup]="weatherForm" (ngSubmit)="onSubmit(weatherForm.value)">
				<div class="form-group">
						<input class="form-control form-control-lg" type="text" placeholder="City" formControlName="city">
					<button class="btn btn-dark btn-lg ml-2" type="submit">Go</button>
				</div>
			</form>
		</div>
		<div class="row mt-3">
			<app-weather-show [errmsg]="errmsg" [weatherForm]="weatherForm" [city]="city" [submitted]="submitted"></app-weather-show>
		</div>
	</div>
</div>
